# DevOps
.github @embrace-io/team-devops
scripts @embrace-io/team-devops

# SDK Teams
docs/android @embrace-io/sdk-android
docs/flutter @embrace-io/sdk-flutter
docs/ios @embrace-io/sdk-ios
docs/react-native @embrace-io/team-react-native
docs/unity @embrace-io/sdk-unity

# docs/best-practices
docs/metrics-api @embrace-io/team-data-metrics-api
docs/custom-metrics-api @embrace-io/team-data-metrics-api
docs/data-destinations @embrace-io/team-data-metrics-api
# docs/product
