.card {
  padding: var(--space-24px);

  background-color: var(--background-tertiary);
  border: 1px solid var(--background-tertiary);
  border-radius: 4px;
}

[data-theme='light'] .card {
  /*box-shadow: var(--default-box-shadow);*/
}
