/* see full spec / use cases in https://www.figma.com/file/QvJDt4Suf2CRXk1B3OVYOx/%5BDS%5D-Design-system-library-V2?node-id=801%3A52803&mode=dev */

/* Display/Display 1 */
.display1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; /* 120% */
}

/* Display/Display 2 */
.display2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px; /* 122.222% */
}

/* Display/Display 3 */
.display3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
}
