/* roboto-300italic - latin */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}

.book-menu nav, .book-toc nav, .book-page {
  margin-top: 80px;
}

.book-brand img {
  margin-inline-end: 0;
}

.markdown figure figcaption {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.markdown figure figcaption h4 {
  margin: 10px 10px 0 0;
  white-space: nowrap;
}

.markdown figure figcaption p {
  font-style: italic;
}

header {
  background: #013555;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 20px 0 15px 0;
}