/*
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}

.book-search input {
  background: #fff;
}

.book-menu nav, .book-toc nav, .book-page {
  margin-top: 80px;
}

.book-menu nav {
  background: #f8f8f8;
  padding-left: 2rem;
}

.book-menu a.collapsed::after {
  content: '';
}

.book-page {
  padding: 2rem 2rem;
}

.book-brand img {
  margin-inline-end: 0;
}

header {
  background: #013555;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 20px 0 15px 0;
}

.align-content-center * {
  text-align: center;
}

.align-content-center a, .align-content-center a:visited {
  display: block;
  text-decoration: none;
  background: #f06b49;
  border-color: #F26C4A;
  color: #fff;
  padding: 10px 20px;
}
.align-content-center a:hover {
  text-decoration: none;
  background-color: rgba(242, 108, 74, 0.8);
  border-color: #F26C4A;
}

/*
 * Markdown Styles
 */

 .markdown figure figcaption {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.markdown figure figcaption h4 {
  margin: 10px 10px 0 0;
  white-space: nowrap;
}

.markdown figure figcaption p {
  font-style: italic;
}

.markdown .book-columns > div {
  border: 1px solid #e4e4e4;
  min-width: 10rem;
  margin: 0 1rem;
  padding: 15px 25px;
}

.markdown blockquote {
  padding: 1rem 1.2rem;
}