/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2c3e50;
  --ifm-color-primary-dark: #283848;
  --ifm-color-primary-darker: #253544;
  --ifm-color-primary-darkest: #1f2b38;
  --ifm-color-primary-light: #304458;
  --ifm-color-primary-lighter: #33475c;
  --ifm-color-primary-lightest: #395168;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-height: 100px;
  --ifm-navbar-padding-horizontal: 40px;
  --ifm-link-color: #111adc;

  /* Embrace color scheme */
  /* All these variables are taken from dash-js */
  --light-background-primary: #fafafa;
  --light-background-inverted: #040814;
  --light-background-secondary: #fff;
  --light-background-tertiary: #ebebeb;
  --light-background-hover: #e8e8e8;
  --light-background-disabled: #d6d6d6;
  --light-background-scrim: #000;
  --light-background-negative: #ffe5e5;
  --light-background-success: #d7fce2;
  --light-background-warning: #fff0bd;
  --light-background-info: #dff1ff;
  --light-background-product: #3838eb;
  --light-background-product-secondary: #060692;
  --light-background-product-hover: #5b56e3;
  --light-background-product-secondary-hover: #3838eb;
  --light-background-product-light: #e9eaff;
  --light-background-product-tonal: #8489f5;
  --light-background-product-active: #5650fd;
  --light-text-strong: #000;
  --light-text-primary: #181818;
  --light-text-secondary: #4c4c4c;
  --light-text-tertiary: #6d6d6d;
  --light-text-disabled: #b0b0b0;
  --light-text-disabled-secondary: #858585;
  --light-text-hover: #4c4c4c;
  --light-text-inverted: #fff;
  --light-text-negative: #d30404;
  --light-text-success: #027d42;
  --light-text-green: #027d42;
  --light-text-info: #0c4e7d;
  --light-text-warning: #955f1f;
  --light-text-product-primary: #3838eb;
  --light-text-product-hover: #abbfff;
  --light-text-product-active: #5650fd;
  --light-text-product-secondary: #111adc;
  --light-text-product-tertiary: #1691ef;
  --light-border-tertiary: #ebebeb;
  --light-border-secondary: #e8e8e8;
  --light-border-primary: #dbdbdb;
  --light-border-content: #6d6d6d;
  --light-border-disabled: #d6d6d6;
  --light-border-negative: #ffc3c3;
  --light-border-success: #4ad494;
  --light-border-info: #b8e1ff;
  --light-border-warning: #eab000;
  --light-border-product: #5650fd;
  --light-border-product-accent: #a0da24;
  --light-border-product-secondary: #0c4e7d;
  --light-icon-focused: #181818;
  --light-icon-disabled: #b0b0b0;
  --light-icon-inverted: #fff;
  --light-icon-default: #6d6d6d;
  --light-icon-negative: #de3838;
  --light-icon-success: #027d42;
  --light-icon-info: #0c4e7d;
  --light-icon-warning: #ffc61b;
  --light-icon-product-tertiary: #1691ef;
  --light-chart-success: #30a66f;
  --light-chart-warning: #fccc3d;
  --light-chart-negative: #e20b0b;
  --light-chart-neutral: #181818;
  --dark-background-primary: #040814;
  --dark-background-secondary: #171a21;
  --dark-background-tertiary: #25272b;
  --dark-background-hover: #3b3c40;
  --dark-background-disabled: #47484c;
  --dark-background-inverted: #fff;
  --dark-background-scrim: #000;
  --dark-background-success: #06331e;
  --dark-background-negative: #4d1919;
  --dark-background-warning: #58470f;
  --dark-background-info: #09263d;
  --dark-background-product: #2b30a8;
  --dark-background-product-secondary: #151972;
  --dark-background-product-hover: #151972;
  --dark-background-product-secondary-hover: #2b30a8;
  --dark-background-product-light: #0a0c32;
  --dark-background-product-tonal: #131650;
  --dark-background-product-active: #5b56e3;
  --dark-border-primary: #4b4c4f;
  --dark-border-secondary: #3b3c40;
  --dark-border-tertiary: #25272b;
  --dark-border-content: #999ba1;
  --dark-border-disabled: #47484c;
  --dark-border-negative: #7a1717;
  --dark-border-success: #0f5c38;
  --dark-border-info: #0c4e7d;
  --dark-border-warning: #deb63e;
  --dark-border-product: #5b56e3;
  --dark-border-product-accent: #ccf279;
  --dark-border-product-secondary: #1c72b0;
  --dark-border-product-tertiary: #1c72b0;
  --dark-text-strong: #fff;
  --dark-text-primary: #fafbff;
  --dark-text-secondary: #cdced2;
  --dark-text-tertiary: #999ba1;
  --dark-text-hover: #cccdd1;
  --dark-text-disabled: #4e4e4f;
  --dark-text-disabled-secondary: #8d8e90;
  --dark-text-inverted: #000;
  --dark-text-negative: #ff9b9b;
  --dark-text-success: #4ad494;
  --dark-text-green: #4ad494;
  --dark-text-info: #1c72b0;
  --dark-text-warning: #ffe89c;
  --dark-text-product-primary: #2b30a8;
  --dark-text-product-hover: #3e3ebd;
  --dark-text-product-active: #5b56e3;
  --dark-text-product-secondary: #9ea2ff;
  --dark-text-product-tertiary: #6bc6ff;
  --dark-icon-tertiary: #6bc6ff;
  --dark-icon-focused: #fafbff;
  --dark-icon-disabled: #4e4e4f;
  --dark-icon-inverted: #000;
  --dark-icon-default: #999ba1;
  --dark-icon-negative: #ff9b9b;
  --dark-icon-success: #4ad494;
  --dark-icon-info: #1c72b0;
  --dark-icon-warning: #fccc3d;
  --dark-icon-product-tertiary: #6bc6ff;
  --dark-chart-success: #1e8555;
  --dark-chart-warning: #deb63e;
  --dark-chart-negative: #db2727;
  --dark-chart-neutral: #fafbff;

  /* Note, there is no light variant of the following chart colors */
  --dark-chart-color1: #e54de8;
  --dark-chart-color2: #884de8;
  --dark-chart-color3: #5eb9ff;
  --dark-chart-color4: #c0f156;
  --dark-chart-color5: #f7be9c;
  --dark-chart-color6: #ff9800;
  --dark-chart-color7: #d81b60;
  --dark-chart-color8: #9c27b0;
  --dark-chart-color9: #8ceef5;
  --dark-chart-color10: #d8b9fb;

  /* note: brand colors do not have light and dark variants */
  --brand-primary: #eeff04;
  --brand-lead: #231f1f;
  --brand-neutral800: #322f2d;
  --brand-neutral700: #433f3c;
  --brand-neutral600: #645f5b;
  --brand-neutral500: #867e79;
  --brand-neutral400: #b0a8a1;
  --brand-neutral300: #c1bbb6;
  --brand-neutral200: #cac5c1;
  --brand-silver: #a79e97;

  /* Embrace Spaces */
  --space-half-base: calc(var(--base-space) / 2);
  --base-space: 4px;
  --space-4px: var(--base-space);
  --space-6px: calc(var(--base-space) * 1.5);
  --space-8px: calc(var(--base-space) * 2);
  --space-10px: calc(var(--base-space) * 2.5);
  --space-12px: calc(var(--base-space) * 3);
  --space-16px: calc(var(--base-space) * 4);
  --space-18px: calc(var(--base-space) * 4.5);
  --space-20px: calc(var(--base-space) * 5);
  --space-24px: calc(var(--base-space) * 6);
  --space-28px: calc(var(--base-space) * 7);
  --space-32px: calc(var(--base-space) * 8);
  --space-36px: calc(var(--base-space) * 9);
  --space-40px: calc(var(--base-space) * 10);
  --space-48px: calc(var(--base-space) * 12);
  --space-56px: calc(var(--base-space) * 14);
  --space-60px: calc(var(--base-space) * 15);
  --space-64px: calc(var(--base-space) * 16);
  --space-72px: calc(var(--base-space) * 18);
  --space-76px: calc(var(--base-space) * 19);
  --space-80px: calc(var(--base-space) * 20);
  --space-88px: calc(var(--base-space) * 22);
  --space-96px: calc(var(--base-space) * 24);
  --space-104px: calc(var(--base-space) * 26);
  --space-112px: calc(var(--base-space) * 28);
  --space-120px: calc(var(--base-space) * 30);
  --space-128px: calc(var(--base-space) * 32);
  --space-136px: calc(var(--base-space) * 34);
  --space-140px: calc(var(--base-space) * 35);
  --space-144px: calc(var(--base-space) * 36);
  --space-152px: calc(var(--base-space) * 38);
  --space-156px: calc(var(--base-space) * 39);
  --space-168px: calc(var(--base-space) * 42);
  --space-192px: calc(var(--base-space) * 48);
  --space-200px: calc(var(--base-space) * 50);
  --space-248px: calc(var(--base-space) * 62);
  --space-256px: calc(var(--base-space) * 64);
  --space-272px: calc(var(--base-space) * 68);
  --space-300px: calc(var(--base-space) * 75);
  --space-320px: calc(var(--base-space) * 80);
  --space-386px: calc(var(--base-space) * 96);
  --space-408px: calc(var(--base-space) * 102);
  --space-512px: calc(var(--base-space) * 128);
  --space-600px: calc(var(--base-space) * 150);
  --space-640px: calc(var(--base-space) * 160);
  --space-768px: calc(var(--base-space) * 192);
  --space-840px: calc(var(--base-space) * 210);
  --space-900px: calc(var(--base-space) * 225);
  --space-1024px: calc(var(--base-space) * 256);
  --space-1440px: calc(var(--base-space) * 360);

  /* Embrace font-sizes */
  --text-8px: 8px;
  --text-10px: 10px;
  --text-12px: 12px;
  --text-14px: 14px;
  --text-15px: 15px;
  --text-16px: 16px;
  --text-18px: 18px;
  --text-20px: 20px;
  --text-22px: 22px;
  --text-24px: 24px;
  --text-28px: 28px;
  --text-30px: 30px;
  --text-32px: 32px;
  --text-36px: 36px;
  --text-40px: 40px;
  --text-44px: 44px;
  --text-48px: 48px;
  --text-52px: 52px;
  --text-64px: 64px;
  --text-72px: 72px;
  --weight-100: 300;
  --weight-200: 400;
  --weight-300: 500;
  --weight-350: 600;
  --weight-400: 700;
  --body-font: 'Roboto', sans-serif;

  /* Embrace utils */
  --popover-content-z-index: 6;
  --filter-builder-field-selector-z-index: 8;
  --floating-label-z-index: 8;
  --sticky-summary-aei-correlated-z-index: 8;
  --header-z-index: 9;
  --modal-background-z-index: 11;
  --modal-z-index: 12;
  --option-z-index: 13;
  --dismiss-tooltip-z-index: 13;
  --tooltip-z-index: 14;
  --flash-banner-z-index: 15;
  --tour-steps-z-index: 108;
  --default-background-transition: background-color 360ms ease-out;
  --default-box-shadow: 0 4px 8px rgb(23 23 23 / 3%);
  --floating-card-box-shadow: 0 2px 6px 2px rgb(16 4 43 / 15%),
  0 1px 2px rgb(14 6 64 / 15%);
  --entering-animation-curve: cubic-bezier(0.4, 0, 0.3, 0.95);
  --leaving-animation-curve: cubic-bezier(0.2, 0, 1, 0.9);
  --default-timeline-transition: left 0.3s, width 0.3s;
  --sticky-header-primary-shadow: 12px 12px 32px 2px rgb(0 0 0 / 50%);
  --sticky-header-secondary-shadow: 12px 12px 32px 2px rgb(0 0 0 / 20%);
  --default-container-margin: 0px var(--space-40px);
  --red-dot-badge-size: var(--space-10px);
  --global-header-height: var(--space-56px);
  --global-menu-width-expanded: 210px;
  --global-menu-width-collapsed: 48px;
  --global-menu-width: 48px;
  --global-menu-item-height-expanded: 40px;
  --global-menu-item-height-collapsed: 48px;
  --global-menu-item-height: 48px;
  --global-menu-z-index: calc(var(--header-z-index) + 1);
  --auth-content-min-width: 600px;
  --auth-container-max-width: 1300px;
  --content-max-width: 1040px;
  --tour-active-banner-height: 66px;
  --card-main-spacing: var(--space-32px);
  --card-sub-spacing: var(--space-24px);
  --card-sub2-spacing: var(--space-16px);
  --card-min-spacing: var(--space-8px);
}

.footer--dark {
   --ifm-footer-background-color: #000000;
 }

.footer__link-item {
  color: #FFFFFF;
}

/* Hide doc links that should not appear in the sidebar */
.menu__link.hidden-filter-reference,
.menu__list-item.hidden-filter-reference {
  display: none !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #bbbbbb;
  --ifm-color-primary-dark: #a8a8a8;
  --ifm-color-primary-darker: #9f9f9f;
  --ifm-color-primary-darkest: #838383;
  --ifm-color-primary-light: #cecece;
  --ifm-color-primary-lighter: #d7d7d7;
  --ifm-color-primary-lightest: #f3f3f3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-link-color: #9ea2ff;

  --theme-name: 'dark';
  --background-primary: var(--dark-background-primary);
  --background-secondary: var(--dark-background-secondary);
  --background-tertiary: var(--dark-background-tertiary);
  --background-hover: var(--dark-background-hover);
  --background-disabled: var(--dark-background-disabled);
  --background-inverted: var(--dark-background-inverted);
  --background-scrim: var(--dark-background-scrim);
  --background-success: var(--dark-background-success);
  --background-negative: var(--dark-background-negative);
  --background-warning: var(--dark-background-warning);
  --background-info: var(--dark-background-info);
  --background-product: var(--dark-background-product);
  --background-product-secondary: var(--dark-background-product-secondary);
  --background-product-hover: var(--dark-background-product-hover);
  --background-product-secondary-hover: var(
          --dark-background-product-secondary-hover
  );
  --background-product-light: var(--dark-background-product-light);
  --background-product-tonal: var(--dark-background-product-tonal);
  --background-product-active: var(--dark-background-product-active);
  --border-primary: var(--dark-border-primary);
  --border-secondary: var(--dark-border-secondary);
  --border-tertiary: var(--dark-border-tertiary);
  --border-content: var(--dark-border-content);
  --border-disabled: var(--dark-border-disabled);
  --border-negative: var(--dark-border-negative);
  --border-success: var(--dark-border-success);
  --border-info: var(--dark-border-info);
  --border-warning: var(--dark-border-warning);
  --border-product: var(--dark-border-product);
  --border-product-accent: var(--dark-border-product-accent);
  --border-product-secondary: var(--dark-border-product-secondary);
  --border-inverted: var(--dark-background-inverted);
  --text-strong: var(--dark-text-strong);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --text-tertiary: var(--dark-text-tertiary);
  --text-hover: var(--dark-text-hover);
  --text-disabled: var(--dark-text-disabled);
  --text-disabled-secondary: var(--dark-text-disabled-secondary);
  --text-inverted: var(--dark-text-inverted);
  --text-negative: var(--dark-text-negative);
  --text-success: var(--dark-text-success);
  --text-green: var(--dark-text-green);
  --text-info: var(--dark-text-info);
  --text-warning: var(--dark-text-warning);
  --text-product-primary: var(--dark-text-product-primary);
  --text-product-hover: var(--dark-text-product-hover);
  --text-product-active: var(--dark-text-product-active);
  --text-product-secondary: var(--dark-text-product-secondary);
  --text-product-tertiary: var(--dark-text-product-tertiary);
  --icon-focused: var(--dark-icon-focused);
  --icon-disabled: var(--dark-icon-disabled);
  --icon-inverted: var(--dark-icon-inverted);
  --icon-default: var(--dark-icon-default);
  --icon-negative: var(--dark-icon-negative);
  --icon-success: var(--dark-icon-success);
  --icon-info: var(--dark-icon-info);
  --icon-warning: var(--dark-icon-warning);
  --icon-product-primary: var(--dark-background-product);
  --icon-product-tertiary: var(--dark-icon-product-tertiary);
  --icon-product-active: var(--dark-background-product-active);
  --chart-success: var(--dark-chart-success);
  --chart-warning: var(--dark-chart-warning);
  --chart-negative: var(--dark-chart-negative);
  --chart-neutral: var(--dark-chart-neutral);
  --chart-color1: var(--dark-chart-color1);
  --chart-color2: var(--dark-chart-color2);
  --chart-color3: var(--dark-chart-color3);
  --chart-color4: var(--dark-chart-color4);
  --chart-color5: var(--dark-chart-color5);
  --chart-color6: var(--dark-chart-color6);
  --chart-color7: var(--dark-chart-color7);
  --chart-color8: var(--dark-chart-color8);
  --chart-color9: var(--dark-chart-color9);
  --chart-color10: var(--dark-chart-color10);
}

[data-theme='light'] {
  --theme-name: 'light';
  --background-primary: var(--light-background-primary);
  --background-secondary: var(--light-background-secondary);
  --background-tertiary: var(--light-background-tertiary);
  --background-hover: var(--light-background-hover);
  --background-disabled: var(--light-background-disabled);
  --background-inverted: var(--light-background-inverted);
  --background-scrim: var(--light-background-scrim);
  --background-success: var(--light-background-success);
  --background-negative: var(--light-background-negative);
  --background-warning: var(--light-background-warning);
  --background-info: var(--light-background-info);
  --background-product: var(--light-background-product);
  --background-product-secondary: var(--light-background-product-secondary);
  --background-product-hover: var(--light-background-product-hover);
  --background-product-secondary-hover: var(
          --light-background-product-secondary-hover
  );
  --background-product-light: var(--light-background-product-light);
  --background-product-tonal: var(--light-background-product-tonal);
  --background-product-active: var(--light-background-product-active);
  --border-primary: var(--light-border-primary);
  --border-secondary: var(--light-border-secondary);
  --border-tertiary: var(--light-border-tertiary);
  --border-content: var(--light-border-content);
  --border-disabled: var(--light-border-disabled);
  --border-negative: var(--light-border-negative);
  --border-success: var(--light-border-success);
  --border-info: var(--light-border-info);
  --border-warning: var(--light-border-warning);
  --border-product: var(--light-border-product);
  --border-product-accent: var(--light-border-product-accent);
  --border-product-secondary: var(--light-border-product-secondary);
  --border-inverted: var(--light-background-inverted);
  --text-strong: var(--light-text-strong);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-tertiary: var(--light-text-tertiary);
  --text-hover: var(--light-text-hover);
  --text-disabled: var(--light-text-disabled);
  --text-disabled-secondary: var(--light-text-disabled-secondary);
  --text-inverted: var(--light-text-inverted);
  --text-negative: var(--light-text-negative);
  --text-success: var(--light-text-success);
  --text-green: var(--light-text-green);
  --text-info: var(--light-text-info);
  --text-warning: var(--light-text-warning);
  --text-product-primary: var(--light-text-product-primary);
  --text-product-hover: var(--light-text-product-hover);
  --text-product-active: var(--light-text-product-active);
  --text-product-secondary: var(--light-text-product-secondary);
  --text-product-tertiary: var(--light-text-product-tertiary);
  --icon-focused: var(--light-icon-focused);
  --icon-disabled: var(--light-icon-disabled);
  --icon-inverted: var(--light-icon-inverted);
  --icon-default: var(--light-icon-default);
  --icon-negative: var(--light-icon-negative);
  --icon-success: var(--light-icon-success);
  --icon-info: var(--light-icon-info);
  --icon-warning: var(--light-icon-warning);
  --icon-product-primary: var(--light-background-product);
  --icon-product-tertiary: var(--light-icon-product-tertiary);
  --icon-product-active: var(--light-background-product-active);
  --chart-success: var(--light-chart-success);
  --chart-warning: var(--light-chart-warning);
  --chart-negative: var(--light-chart-negative);
  --chart-neutral: var(--light-chart-neutral);

  /* Note, there is no light variant of the following chart colors */
  --chart-color1: var(--dark-chart-color1);
  --chart-color2: var(--dark-chart-color2);
  --chart-color3: var(--dark-chart-color3);
  --chart-color4: var(--dark-chart-color4);
  --chart-color5: var(--dark-chart-color5);
  --chart-color6: var(--dark-chart-color6);
  --chart-color7: var(--dark-chart-color7);
  --chart-color8: var(--dark-chart-color8);
  --chart-color9: var(--dark-chart-color9);
  --chart-color10: var(--dark-chart-color10);
}
